@import "variables.scss";

.back-to-hardware {
  background-color: $base-background;
  border: 2px solid $base-black;
  border-color: $base-black;
  color: $base-black;
  font-family: $font-family;
  margin: 10vh 0 0 3vw;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 15px 6px;
  text-align: center;
  white-space: nowrap;
  vertical-align: 2px;
  border-radius: 4px;
}

.back-to-hardware:hover {
  text-decoration: none;
  color: $base-black;
}

.add-gateway-section {
  background-color: $section-background;
  min-height: 100vh;
  padding-top: 2vh;
  .add-gateway-header {
    margin-left: 11vw;
    @media screen and (max-width: $medial-break) {
      margin-left: 15vw;
    }
    @media screen and (max-width: $tabular-break) {
      margin-left: 19vw;
    }
    @media screen and (max-width: $mobile-break) {
      margin-left: 27vw;
    }
  }
  .directions {
    margin: 3vh 2vw 2vh 11vw;
    background-color: $base-background;
    box-shadow: $base-box-shadow;
    border-radius: 4px;
    padding: 5vh 22vw;
    justify-content: center;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat("auto-fit", minmax(200px, 200px));
    grid-auto-flow: row;
    @media screen and (max-width: $medial-break) {
      margin: 3vh 4vw 2vh 15vw;
    }
    @media screen and (max-width: $tabular-break) {
      margin: 3vh 4vw 2vh 19vw;
    }
    @media screen and (max-width: $mobile-break) {
      margin: 3vh 4vw 2vh 27vw;
    }
    .direction-set {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
      .number-text {
        align-self: center;
        min-width: 200px;
      }
      p {
        font-family: $font-family;
        align-self: center;
        text-align: center;
        margin-left: 5vw;
      }
      .direction-image {
        margin-left: 3vw;
        align-self: center;
        max-width: 250px;
        @media screen and (max-width: $mobile-break) {
          max-width: 100px;
        }
      }
    }
  }
  .action-button {
    padding: 2px 2px;
  }
}
.claim-code-entry {
  display: flex;
  justify-content: center;
  margin: 3vh 5vw 0 5vw;
}
.ant-input:hover {
  border-color: $base-turquoise;
}
.claim-code-section {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.add-button,
.back-to-hardware {
  margin: 0px 5px;
}
.action-button:disabled {
  opacity: 0.7;
}

.add-button:not(:disabled):hover {
  opacity: 0.7;
  color: $base-black;
}
