@import 'variables.scss';

#amchart {
    max-height: 400px!important;
}

.compress-button {
    width: 75vw;;
    background-color: #3a3d45;
    color: white;
    font-size: 14px;
    padding: 6px 0 4px;
}
