@import "node_modules/bootstrap/dist/css/bootstrap";
@import "variables.scss";
@import "Login.scss";
@import "LoginHeader.scss";
@import "LeftNav.scss";
@import "MyAccount.scss";
@import "Hardware.scss";
@import "AddSensorModules.scss";
@import "SensorModule.scss";
@import "AmChart.scss";

body {
  background-color: $base-background;
  font-family: $font-family;
  -webkit-font-smoothing: unset;  /* Unset font-smoothing setting interited from one of the libraries we are using */
  -moz-font-smoothing: unset;
  -ms-font-smoothing: unset;
}
