@import "variables.scss";

.hardware-section,
.scan-container {
  display: inline-block;
  width: 100%;
  background-color: $section-background;
  min-height: 100vh;
  .page-header {
    margin-left: 150px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.4px;
    .hardware-header {
      font-size: 35px;
      font-weight: 600;
      letter-spacing: 0.4px;
      color: $base-black;
      margin-bottom: 20px;
    }
    .add-gateway-button {
      float: right;
      background-color: $base-black;
      color: $base-background;
      font-family: $font-family;
      margin: 0 5px 0 5px;
      font-size: 14px !important;
      font-weight: 500;
      padding: 12px 40px;
      text-align: center;
      white-space: nowrap;
      border-radius: 4px;
      margin-right: 3.5vw;
      .plus {
        margin-right: 10px;
      }
    }
    .add-gateway-button:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }

  .gateways-section {
    margin: 5px 50px 5px 150px;
    .gateway-row {
      background-color: $base-background;
      box-shadow: $base-box-shadow;
      border-radius: 2px;
      margin-bottom: 30px;
      padding: 0;
      min-height: 350px;

      .gateway-header {
        color: $base-black;
        margin: 0;
        border-bottom: 1px solid $border-grey;
        padding: 30px 30px 30px 15px;

        .gateway-info {
          display: inline-block;

          .gateway-id {
            color: $base-black;
            font-size: 20px;
            margin-top: 5px;
            font-weight: 600;
            padding-left: 15px;
            display: inline-block;
            vertical-align: top;
          }

          .gateway-location {
            padding-left: 15px;
            vertical-align: top;
            padding-right: 8px;
            width: 15px;
          }

          .gateway-name {
            color: $base-black;
            font-size: 20px;
            padding-left: 60px;
          }
        }

        .gateway-settings {
          float: right;
          .action-button {
            .plus {
              padding-right: 5px;
            }
            margin-right: 5px;
            min-width: 130px;
          }

          .done-button {
            color: $base-background;
            background-color: $base-black;
            width: 120px;
            border: 2px solid $base-black;
            border-radius: 4px;
            padding: 8px 8px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
          }
          .done-button:hover {
            opacity: 0.7;
          }

          .sce-dropdown-menu {
            top: 100%;
            left: 0;
            z-index: 1000;
            min-width: 160px;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: $base-background;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            margin-top: 10px;

            a {
              text-decoration: none;
              color: $base-black;
              padding: 10px;
            }
          }

          .settings {
            width: 40px;
            min-width: 20px;
          }
        }
      }

      &.no-device {
        min-height: auto;
        padding: 20px;
        font-size: 20px;
      }

      &.editing-gateway {
        background-color: #ddecf8;
        border: 2px solid #2197fd;
        .gateway-sensor-modules {
          background-color: #ddecf8;
        }
      }
    }
  }
}

.no-modules-section {
  width: 100%;
  .no-modules-header {
    margin-top: 36px;
    color: #767676;
    font-size: 18px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    font-weight: 600;
  }
}

.gateway-sensor-modules,
.available-sensors-section {
  margin: 0;
  padding: 15px;
  width: 100%;

  &.editing-module {
    background-color: $base-background;
  }

  .sensor-module-wrapper {
    padding: 15px;
    min-height: 100%;

    /* Medium screen size 2 columns */
    @media (min-width: 1000px) {
      flex: 0 0 50%;
      min-width: 50%;
    }

    /* Large screen size 3 columns */
    @media (min-width: 1500px) {
      flex: 0 0 33.333333%;
      min-width: 33.333333%;
    }

    /* Extra large screen 4 columns */
    @media (min-width: 1800px) {
      flex: 0 0 25%;
      min-width: 25%;
    }

    /* Extra extra large screen, 5 columns */
    @media (min-width: 2100px) {
      flex: 0 0 20%;
      min-width: 20%;
    }
  }
}

.ant-dropdown-link {
  font-weight: 700;
  width: 120px;
  border: 2px solid $base-black;
  border-radius: 4px;
  color: $base-black;
  padding: 9.5px 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.ant-dropdown-link:hover {
  text-decoration: none;
  color: $base-black;
}

.ant-dropdown-menu-item:hover {
  background-color: lighten($base-turquoise, 20%) !important;
}

.menu-setting-item {
  text-decoration: none !important;
}

.menu-setting-item:hover {
  color: $base-black;
}
