@import "variables.scss";

.module-section {
    padding-top: 35px;
    background-color: $section-background;
    height: 100%;

  .back-button {
    margin-left: 150px;
    color: $base-background;
    border: 0 none;
    background-color: $base-black;
    font-size: 15px;
    font-weight: 700;
    height: 35px;
    padding: 10px 15px 10px;
    border-radius: 5px;

    .back-arrow {
      margin-right: 5px;
      width: 7px;
    }
  }
  .module-container {
    background-color: $base-background;
    border-radius: 4px;
    box-shadow: $base-box-shadow;
    margin-bottom: 30px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 30px;

    .module-details {
      display: flex;
      padding: 20px;
      margin-left: 0;
      margin-right: 0;
      border-bottom: 1px solid $border-grey;

      .module-left-container {
        background-color: $base-background;
        border: solid 1px #b5c0d8;
        border-radius: 2px;
        position: relative;
        padding: 20px;
        margin: 0;

        .dropdown-menu-container {
          position: absolute;
          top: 20px;
          right: 20px;
          text-align: right;

          button {
            border: 2px solid $base-black;
            border-radius: 4px;
            color: $base-black;
            padding: 4px 12px;
            text-decoration: none;
          }

          .sce-dropdown-menu {
            margin-top: 10px;
            padding: 2px 8px;
            text-align: center;
            background-color: $base-background;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            a {
              color: $base-black;
            }
          }
        }

        img {
          padding: 20px;
          max-width: 130px;
        }

        .info-section {
          flex: 1;
          min-width: 0;

          .device-name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $base-black;
            font-size: 20px;
            margin-bottom: 10px;
            width: 100%;
          }

          .gateway-name,
          .sensor-model,
          .sensor-count {
            width: 100%;
            text-align: left;
            margin-top: 5px;
            color: $base-black;
          }
        }
      }

      .data-cols {
        margin: 0;
        min-height: 100%;
        padding-top: 20px;
        justify-content: center;

        .data-col {
          background-color: $base-background;
          border: solid 1px #b5c0d8;
          border-radius: 2px;
          width: 150px;
          padding: 18px 15px;
          text-align: center;
          height: 100%;
          margin: 0 10px;

          .data-name {
            font-size: 12px;
            font-weight: 300;
            color: $base-black;
            border-bottom: 1px solid #b5c0d8;
            padding-bottom: 16px;
          }
          .data-value {
            padding-top: 16px;
            font-size: 25px;
            font-family: $font-family;
            font-weight: 800;
          }
          .sensing {
            padding-top: 8px;
            font-size: 25px;
          }
          .chart-options {
            text-align: left;
            .chart-option {
              font-size: 12px;
              width: 100%;
              padding: 1px 0;
              input {
                margin-right: 5px;
              }
            }
          }

          .graph-timespan-options {
            .ant-checkbox-wrapper {
              font-size: 12px;
              padding: 1px 0;
            }

            .static-time-options {
              margin-top: 10px;
              .default-timespan-value {
                font-size: 14px;
                width: auto;
              }
            }
          }
        }
      }
    }

    .sensor-graph-container {
      padding-bottom: 20px;
      box-sizing: border-box;
      .sensor-data-loader {
        text-align: center;
        padding: 20px;
        font-size: 20px;
      }
    }
    .sensor-container {
      position: relative;
      box-shadow: $base-box-shadow;
      margin: 20px;
      padding: 20px;
      background-color: $base-background;
      border-radius: 2px;
      border: solid 1px $border-grey;
      display: flex;
      .unit-rt-container,
      .graph-container {
        position: relative;
        width: 175px;
        background-color: $base-background;
        border: solid 1px $border-grey;
        border-radius: 2px;
      }
      .unit-rt-container {
        background-color: $base-black;
        border: 6px solid $base-black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-radius: 2px;
        text-align: center;
        margin-right: 20px;
        min-width: 160px;
        .header {
          color: $base-background;
          font-size: 14px;
          font-weight: 600;
          padding: 5px;
        }
        .unit-value {
          background-color: $base-background;
          color: $base-black;
          font-weight: 600;
          letter-spacing: 0.6px;
          font-size: 35px;
          border-bottom-left-radius: 2.5px;
          border-bottom-right-radius: 2.5px;

          span {
            margin-left: 5px;
            font-size: 14px;
          }
        }
      }
      .graph-container {
        width: 100%;
        left: 0px;
        top: -1px;
        text-align: center;
        .loading-tsdb-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000;
          background: rgba(0, 0, 0, 0.05);
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
        }
      }
      .graph-info-container {
        margin-top: 15px;
        color: $base-background;
        text-align: center;
        height: auto;
        font-size: 14px;
        font-weight: 400;
      }
    }

    @media (min-width:1200px) {
      .module-left-container {
        max-width: 600px;
      }
      .module-details {
        .data-cols {
          justify-content: start;
          padding-top: 0;
        }
      }
    }
  }
}

// ANT OVERRIDES
.dropdown {
  border: 0 none;
  width: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  color: $base-black;
  font-family: $font-family;
  text-decoration: none;
}

.col-dropdown {
  margin-bottom: 20px;
}
.ant-modal-content {
  .ant-modal-header {
    border-bottom: none;
    padding: 50px 20px;
    .ant-modal-title {
      text-align: center;
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 0.4px;
      color: $base-black;
    }
  }
  .sensor-module-form {
    text-align: center;
    .label-title {
      display: block;
      color: $base-black;
      font-weight: 600;
    }

    .ant-input {
      text-align: center;
      margin-bottom: 20px;
      input {
        display: block;
        margin-top: 5px;
        margin-bottom: 20px;
        width: auto;
      }
    }

    .sensor-type-togglers {
      margin: 0;
      .ant-checkbox-wrapper {
        margin: 0;
        padding: 2px 5px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .ant-modal-footer {
    text-align: center;
  }
}
