// application-common variables
$base-background: #FAFBFD;
$section-background: #DADCE3;
$base-black: #353D45;
$base-turquoise: #7FCBCF;
$base-warning: red;
$disabled-button: #bbbbbb;

$font-family: "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif;
